h1{
    font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    right: 10px;
    padding-top: 25px;
     margin: 0;
    font-size: 55px;
    background-color: #caf7fa;
    color: #7a5d1b;
}

body {
    font-family: "Voces", sans-serif;
    background-color: #faf0CA;
    font-weight: 400;
     margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

header {
    background: #0D3B66;
    color: #70a8db;
    padding: 1px 0;
}


header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
}
nav a {
    color: #eccd75;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #f1c959;
}

.pesquisa {
    text-align: right;
    padding: 10px;
}

.pesquisa input {
    width: 15%;
    padding: 10px;
}

.pesquisa button {
    padding: 10px 20px;
    cursor: pointer;
}