body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:0;
    color: rgb(255, 255, 255);
    line-height:1.5;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
header{
    background-color: rgb(125, 28, 163);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    min-height: 70px;
    border-bottom: rgb(255, 255, 255) 3px solid;
}
header h1{
    text-align: left;
    margin:0;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
}
nav ul{
    padding: 0;
    list-style: none;
    text-align: center
}
nav li{
    display: inline;
    padding: 0 20px;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: nome;
    font-weight: bold;
}
nav a:hover{
    color: rgb(201, 123, 142);
    text-decoration: underline;
}
.secao{
   padding: 20px;
   margin-top: 20px;
   background: linear-gradient(to right, white, white );
   border-radius: 30px;
   box-shadow:0 7px 14px rgb(209, 191, 200);
}

h2{
    color: rgb(19, 1, 1);
    border-bottom: 2px solid white;
    padding-bottom: 10px;

}
.imagem-hobbies{
    max-width: 300%;
    height: 100%;
    width: 30%;
    border-radius: 8px;
    margin-top: 16px;
}
table{
    width: 100%;
    margin-top: 20px;
   border-collapse: collapse;
}
th, td{
    padding: 12px;
    border:1px solid white;
    text-align: center;
}
thead{
    background-color: white;
}
.formulario{
    margin-bottom: 20px;
}
.formulario label{
    display: block;
    margin-bottom: 5px;
}

.formulario input, textarea{
    width: 700px;
    border-radius: 5px;
    padding: 10px;
}

.opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.btn {
  border: none;
  padding: 12px;
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}


.vermelha {
  background-color: #e53935;
}
.azul {
  background-color: #1e88e5;
}
.amarela {
  background-color: #fdd835;
  color: #222;
}
.verde {
  background-color: #43a047;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media (max-width: 480px) {
  .opcoes {
    grid-template-columns: 1fr;
  }
}